# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env

# Logs
logs
*.log
logs/*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build and cache folders
dist/
build/
.cache/
coverage/

# VSCode settings
.vscode/

# Temporary files
*.tmp
*.swp
